<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_HOST</key>
	<string>$(BASE_HOST)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>STORAGE_HOST</key>
	<string>$(STORAGE_HOST)</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>WIDGET_TOKEN</key>
	<string>$(WIDGET_TOKEN)</string>
	<key>WS_HOST</key>
	<string>$(WS_HOST)</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>user message</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>document permissions</string>
	<key>NSFileProviderDomainUsageDescription</key>
	<string>document permissions</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>document permissions</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>CLIENT_TOKEN</key>
	<string>$(CLIENT_TOKEN)</string>
</dict>
</plist>
